body{
	font-family: 'Krona One', sans-serif;
	margin: 0;
	padding: 0;
}
.hidden{
    display: none;
}
table{
	width: 70%;
	margin: 0 auto;
	border-collapse: collapse;
	box-shadow: 5px 5px 20px;
	position: relative;
	top: 130px;
}
h1{
	position: fixed;
	top:0px;
	background-image: linear-gradient(to bottom, black, #1D725B);
	color:white;
	width: 100%;
	z-index: 1;
	margin:0;
	padding: 1em 0;
	font-weight: 100;
	text-align: center;
}
.table-heading, .table-data{
	text-align: center;
	padding: 0.5em 0.3em;
	font-size: 0.9rem;
}
a{
	display: block;
}
.username{
	text-decoration: none;
	color: black;
	text-align: left;
	padding-left: 1.5em;
}
.username:hover{
	color: white;
}
.data-row:nth-child(2){
	background-color:rgb(255, 234, 122);	
}
.data-row:nth-child(3){
	background-color:rgb(227, 225, 225);	
}
.data-row:nth-child(4){
	background-color:rgb(252, 186, 121);
}
.data-row:nth-child(2):hover a, .data-row:nth-child(3):hover a, .data-row:nth-child(4):hover a{
	background-color: #3BCEA7;	
}
.data-row:nth-child(2):hover, .data-row:nth-child(3):hover, .data-row:nth-child(4):hover{
	background-color: #3BCEA7;	
}
tr:hover{
	background-color: #3BCEA7;
	color: white;
}
tr:hover a{
	color: white;
	text-decoration: underline;
}
.userdata{
	text-align: center;
}
.table-heading{
	font-weight: 100;
	position:sticky;
	top:100px;	
	background-color: #1D725B;
	color: white;
  	z-index: 1;
  	padding: 1em 0;
}
@media screen and (max-width: 1000px){
	h1{
		font-size: 1rem;
	}
	.table-heading, .table-data{
		font-size: 0.7rem;
	}
	.table-heading{
		top:50px;
	}
	.username{
		padding-left: 0.5em;
	}
	table{
		width: 95%;
		top:80px;
	}
}
@media screen and (max-width: 460px){
	h1{
		font-size: 0.8rem;
	}
	.table-heading, .table-data{
		font-size: 0.6rem;
	}
	.table-heading{
		top:40px;
	}
	table{
		top:60px;
	}
}