
 .hidden{
    display: none;
        }
body{
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
	}
#leaderboard-table{
	width: 70%;
	margin: 0 auto;
	border-collapse: collapse;
	box-shadow: 15px 5px 90px;
	position: relative;
	top: 130px;
}
h1{
	text-align: center;
	position: fixed;
	top:0px;
	background-image: linear-gradient(to bottom right, rgb(92, 4, 46) , rgb(184, 79, 129));
	color:white;
	width: 100%;
	z-index: 1;
	margin:0;
	padding: 1em 0;
	
	/*display: flex;
	justify-content: center;
	width: 100%;
	background-color: rgb(217, 186, 178);
	color: rgb(112, 61, 48);
	position: fixed;
	top:0px;
	margin: 0;
	padding: 1em 0;
	z-index: 1;*/

}
.table-heading, .table-data{
	text-align: center;
	padding: 0.5em 0.3em;
}
td{
	font-weight: 600;
}
.username{
	text-decoration: none;
	font-weight: 550;
	color: rgb(74, 31, 28);
}
.username:hover{
	color: black;
}
tr:hover{
	background-color: rgb(201, 62, 130);
	color: white;
}
tr:hover a{
	color: white;
}
.left{
	text-align: left;
	padding-left: 2em;
}
.center{
	text-align: center;
}
th{
	position:sticky;
	top:100px;	
	background-color: rgb(186, 15, 98);
	color: white;
  	z-index: 1;
}
@media screen and (max-width: 800px){
	h1{
		font-size: 1.5rem;
	}
	#leaderboard-table{
		width: 95%;
		top:100px;
	}
	th{
		top:75px;
	}
	.left{
		padding-left: 0.5em;
	}
}
@media screen and (max-width: 460px){
	h1{
		font-size: 1rem;
	}
	th, td{
		font-size: 0.8rem;
	}
	th{
		top:50px;
	}
	#leaderboard-table{
		top:70px;
	}
}